@media only screen and (max-width: 500px) {
    
    @font-face {
        font-family: "Yanone Kaffeesatz";
        src: url('fonts/YanoneKaffeesatz-Regular.otf');
    }
      body {
        background: #00ff00 url() repeat scroll center center;
        margin: 0;
        color: #000000;
        font: x-small Georgia Serif;
        font-size/* */
        : /**/
        small;
        font-size: /**/
        small;
        text-align: center;
      }
      
      a:link {
        color: #007f00;
        text-decoration: none;
      }
      
      a:visited {
        color: #007f00;
        text-decoration: none;
      }
      
      a:hover {
        color: #7f7f00;
        text-decoration: underline;
      }
      
      a img {
        border-width: 0;
      }
      /* Header
-----------------------------------------------
*/
      
      #header {}
      
      #header h2 {
        display: none;
        margin-top: 0;
        padding-top: 0;
      }
      
      #header ul {
        list-style-type: none;
        margin: 0 !important;
        padding: 0;
      }
      
      .header_first {
        float: left;
        margin-right: 10px;
        background-color: none;
        padding: 0px 30px 0px 0px;
        width: 140px;
      }
      
      .header_second {
        float: left;
        background-color: none;
        padding: 0px 0px;
        width: 570px;
      }
      
      .header_third {
        float: right;
        background-color: none;
        padding: 0px 0px 0px 0px;
        width: 140px;
      }
      
      #header-inner {
        background-position: center;
        margin-left: auto;
        margin-right: auto;
      }
      
      #header {
        color: none;
      }
      
      #header h1 {
        font: normal bold 30px Syncopate;
        margin: 0;
      }
      
      #header a {
        color: #00ff00;
        text-decoration: none;
      }
      
      #header a:hover {
        color: #00ff00;
      }
      
      #header .description {
        max-width: 1020px;
        font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
        color: #00ff00;
      }
      
      #header img {
        margin-left: auto;
        margin-right: auto;
      }
      
      #header li a:hover {
        text-decoration: line-through;
      }
      /* Slider
----------------------------------------------- */
      
      #slider {
        height: 320px;
        overflow: hidden;
        margin: 0 0 0px 5px;
        width: 1010px;
      }
      
      .coin-slider {
        overflow: hidden;
        zoom: 1;
        position: relative;
      }
      
      .coin-slider a {
        text-decoration: none;
        outline: none;
        border: none;
      }
      
      .cs-buttons {
        font-size: 0px;
        padding: 0px;
        float: right;
      }
      
      .cs-buttons a {
        margin-left: 0px;
        height: 10px;
        width: 0px;
        float: right;
        border: 1px solid #009966;
        color: #009966;
        text-indent: -300px;
      }
      
      .cs-active {
        background-color: #009966;
        color: #000000;
      }
      
      .cs-title {
        width: 1010px;
        padding: 10px;
        background-color: #ffff00;
        color: #000000;
      }
      
      .cs-prev,
      .cs-next {
        background-color: #ffff00;
        color: #000000;
        padding: 0px 0px;
      }
      /* Outer-Wrapper
----------------------------------------------- */
      
      #outer-wrapper {
        width: 1020px;
        margin: 0 auto;
        padding: 10px;
        text-align: left;
        font: normal normal 13px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
      }
      
      #left-container {
        width: 1020px;
        float: left;
      }
      
      #main-wrapper {
        width: 616px;
        float: left;
        word-wrap: break-word;
        /* fix for long text breaking sidebar float in IE */
        overflow: hidden;
        /* fix for long non-text content breaking IE sidebar float */
      }
      
      #sidebar-wrapper {
        width: 175px;
        float: left;
        padding: 10px;
        word-wrap: break-word;
        /* fix for long text breaking sidebar float in IE */
        overflow: hidden;
        /* fix for long non-text content breaking IE sidebar float */
      }
      
      #layout #sidebar-wrapper {
        width: 158px;
        padding: 10px;
      }
      
      #sup {
          line-height: 10px;
      }
      
      #right-sidebar {
        width: 188px;
        float: left;
        padding: 10px;
        word-wrap: break-word;
        /* fix for long text breaking sidebar float in IE */
        overflow: hidden;
        /* fix for long non-text content breaking IE sidebar float */
      }
      
      #layout #right-sidebar {
        width: 170px;
      }
      
      #sidebar-right-col {
        background-color: #ffffff;
        float: left;
        padding: 3px;
      }
      /* Headings
----------------------------------------------- */
      
      h1 {
        margin: 0 0 .75em;
        font: normal normal 14px arial;
        line-height: 30px;
        color: #003f00;
      }
      
      h2 {
        margin: 0 0 .75em;
        font-family: arial;
        font-size: 15px;
        color: black;
      }
      /* Posts
-----------------------------------------------
*/
      
      p.date-header {
        margin: 0 0 .5em;
        font: normal normal 16px Verdana, Geneva, sans-serif;
      }
      
      .post {
        margin: .5em 0 1.5em;
        padding-bottom: 0em;
        width: 600px;
        padding: 8px;
        font-size: 20px;
      }
      
      .post h2 {
        margin: 0;
        padding: 0 0 4px;
        font: normal normal 24px Impact, sans-serif;
        color: #7f7f00;
      }
      
      .post h2 a,
      .post h2 a:visited,
      .post h2 strong {
        display: block;
        text-decoration: none;
        color: #7f7f00;
      }
      
      .post h2 strong,
      .post h2 a:hover {
        color: #000000;
      }
      
      .post-body {
        margin: 0 0 .75em;
        line-height: 1.6em;
      }
      
      .post-body a {
        color: #007f00;
      }
      
      .post-body blockquote {
        line-height: 1.3em;
      }
      
      .post-footer {
        margin: .75em 0;
        color: #003f00;
        font: normal normal 20px Verdana, Geneva, sans-serif;
        text-transform: uppercase;
      }
      
      .comment-link {
        margin: 0;
      }
      
      .post img {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        float: left;
      }
      
      .post blockquote {
        margin: 1em 20px;
      }
      
      .post blockquote p {
        margin: .75em 0;
      }
      /* Comments
----------------------------------------------- */
      
      #comments h4 {
        margin: 1em 0;
        font-weight: bold;
        color: #003f00;
      }
      
      #comments-block {
        margin: 1em 0 1.5em;
        line-height: 1.6em;
      }
      
      #comments-block .comment-author {
        margin: .5em 0;
      }
      
      #comments-block .comment-body {
        margin: .25em 0 0;
      }
      
      #comments-block .comment-footer {
        margin: -.25em 0 2em;
      }
      
      #comments-block .comment-body p {
        margin: 0 0 .75em;
      }
      
      .deleted-comment {
        font-style: italic;
        color: gray;
      }
      
      #blog-pager,
      .feed-links {
        background-color: #ffffff;
        padding: 10px 5px;
        text-align: left;
        text-transform: uppercase;
      }
      
      #blog-pager-older-link,
      #blog-pager-newer-link {
        float: none;
      }
      
      #blog-pager a {
        background-color: #00ff00;
        color: #ffffff;
        display: inline;
        padding: 3px 60px 3px 5px;
      }
      
      .feed-links {
        clear: both;
        background: url("http://lh3.ggpht.com/_xn2gmPb9TfM/SmjqRgmI4_I/AAAAAAAAEqU/6Ia5qlTjbXc/s800/rss.png") no-repeat scroll 5px center #ffffff;
        padding-left: 25px;
      }
      /* Sidebar Content
----------------------------------------------- */
      
      .sidebar {
        color: #007f00;
        line-height: 1.5em;
      }
      
      .sidebar ul {
        list-style: none;
        margin: 0 0 0;
        padding: 0 0 0;
      }
      
      .sidebar li {
        margin: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: .25em;
      }
      
      .sidebar .widget {
        margin: 0 0 1.5em;
        padding: 0 0 1.5em;
      }
      
      .main .widget {
        margin: 0;
        padding: 0;
      }
      
      .main .Blog {
        border-bottom-width: 0;
      }
      /* Profile
----------------------------------------------- */
      
      .profile-img {
        float: left;
        margin-top: 0;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 0;
        padding: 4px;
        border: 1px solid #00ff00;
      }
      
      .profile-data {
        margin: 0;
        font: normal normal 20px Verdana, Geneva, sans-serif;
        color: #003f00;
      }
      
      .profile-datablock {
        margin: .5em 0 .5em;
      }
      
      .profile-textblock {
        margin: 0.5em 0;
        line-height: 1.6em;
      }
      
      .profile-link {
        font: normal normal 20px Verdana, Geneva, sans-serif;
      }
      /* Footer
----------------------------------------------- */
      
      #footer-wrapper {
        clear: both;
        margin: 0 auto;
        padding: 5px;
        background: #ffffff;
        text-align: left;
      }
      /* Hide the Blogger NavBar
----------------------------------------------- */
      
      #navbar-iframe {
        height: 0px;
        visibility: hidden;
        display: none
      }
      
      .sidebar .widget,
      .post {
        background-color: #ffffff;
        margin-bottom: 10px;
        padding: 8px;
      }
      /* Main Menu
----------------------------------------------- */
      
      #sup{
          line-height: 10px;
          padding: 20px;
          font-size: 100px;
      }
      
      #Menumainwrap {
        background: #009966;
        repeat-x scroll 0 0 #000000;
        border-bottom: 1px solid #009966;
        height: 4px;
        width: 100%;
        margin: 0;
        padding-top: 0px;
      }
      
      #NavbarMenux {
        width: 1000px;
        height: 41px;
        font-size: 13px;
        color: #000000;
        background: #4A9E66;
        margin: 0px;
        padding: 0;
        font-weight: bold;
        font-family: arial;
        margin: 0 auto;
      }
      
      #NavbarMenuleftx {
        width: 1000px;
        margin: 0;
        float: left;
      }
      
      #navx {
        margin: 0;
        padding: 0;
      }
      
      #navx ul {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      #navx li {
        list-style: none;
        margin: 0px;
        padding: 0;
      }
      
      #navx li a,
      #navx li a:link,
      #navx li a:visited {
        height: 22px;
        color: #ffffff;
        display: block;
        font-size: 13px;
        text-decoration: none;
        margin: 0;
        padding: 10px 13px 9px 13px;
        border-right: 1px solid #009966;
      }
      
      #navx li a:hover,
      #navx li a:active {
        color: #000000;
        margin: 0;
        text-decoration: none;
        background: #f5f5f5;
      }
      
      #navx li li a,
      #nav li li a:link,
      #navx li li a:visited {
        background: #4A9E66;
        repeat-x scroll 0 0 #ffffff;
        min-width: 200px;
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        float: none;
        margin: 0;
        padding: 5px 10px;
        font-weight: bold;
        font-family: arial;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);
      }
      
      #navx li li a:hover,
      #navx li li a:active {
        background: #4A9E66;
        color: #000000;
      }
      
      #navx li {
        float: left;
        padding: 0;
      }
      
      #navx li ul {
        z-index: 9999;
        position: absolute;
        left: -999em;
        height: auto;
        width: 170px;
        margin: 0;
        padding: 0;
        border-top: 1px solid #242424;
      }
      
      #navx li ul a {
        width: 140px;
      }
      
      #navx li ul ul {
        margin: -41.5px 0 0 176px;
        border: none;
      }
      
      #navx li:hover ul ul,
      #navx li:hover ul ul ul,
      #navx li.sfhover ul ul,
      #navx li.sfhover ul ul ul {
        left: -999em;
      }
      
      #navx li:hover ul,
      #navx li li:hover ul,
      #navx li li li:hover ul,
      #navx li.sfhover ul,
      #navx li li.sfhover ul,
      #navx li li li.sfhover ul {
        left: auto;
      }
      
      #navx li:hover,
      #navx li.sfhover {
        position: static;
      }
      